@page "/"

@inject ProductServices service

<div class="container">

    <div class="row m-5">
        <div class="row bg-light">
            <table class="table table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>what ingredient do you want to use up?</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Ingredients.Any())
                    {
                        <EditForm Model="@SearchIngredients">
                            <div class="form-group">
                                <label for="title">Recipe Title</label>
                                <input type="text" id="title" class="form-control" @bind-value="@SearchIngredients.Name" />
                            </div>

                            <!-- would rather on type --> 
                            <div class="text-center p-3 mb-3">
                                <button class="btn btn-info" @onclick="DoSearch"> search</button>
                            </div>
                        </EditForm>

                        ///@foreach (var ingredient in Ingredients)
                        ///{
                        ///    <tr @onclick="(() => SetIngredientsForUpdate(ingredient))">
                        ///        <td>@ingredient.Name</td>
                        ///    </tr>
                        ///}
                    }
                    else
                    {
                        <tr><td colspan="6"><strong>No ingredients available</strong></td></tr>
                    }
                </tbody>
            </table>
        </div>

        <!--this should be hidden until ingredient serch has been clicked-->
        <div class="row bg-light">
            <table class="table table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>Title</th>
                        <th>Servings</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Recipes.Any())
                    {
                        @foreach (var recipe in Recipes)
                        {
                            <tr @onclick="(() => SetRecipesForUpdate(recipe))">
                                <td>@recipe.Title</td>
                                <td>@recipe.Servings</td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr><td colspan="6"><strong>No recipes available</strong></td></tr>
                    }
                </tbody>
            </table>
        </div>

    </div>
</div>

@code {

    List<Ingredients> Ingredients = new List<Ingredients>();
    protected override async Task OnInitializedAsync()
    {
        await RefreshIngredients();
    }

    private async Task RefreshIngredients()
    {
        Ingredients = await service.GetIngredientsAsync();
    }

    Ingredients UpdateIngredients = new Ingredients();
    private void SetIngredientsForUpdate(Ingredients ingredients)
    {
        UpdateIngredients = ingredients;
    }

    List<Recipes> Recipes = new List<Recipes>();

    private async Task RefreshRecipes()
    {
        Recipes = await service.GetRecipesAsync();
    }

    Recipes UpdateRecipes = new Recipes();
    private void SetRecipesForUpdate(Recipes recipes)
    {
        UpdateRecipes = recipes;
    }

    private async Task UpdateRecipesData()
    {
        await service.UpdateRecipesAsync(UpdateRecipes);
        await RefreshRecipes();
    }


}
